<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <staticContent>
      <remove fileExtension=".webmanifest"/>
      <remove fileExtension=".woff2"/>
      <remove fileExtension=".woff"/>

      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json"/>
      <mimeMap fileExtension=".woff2"      mimeType="font/woff2"/>
      <mimeMap fileExtension=".woff"       mimeType="font/woff"/>

      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
    </staticContent>

    <httpCompression>
      <scheme name="br"   dll="%IIS_BIN%\brotli.dll" staticCompressionLevel="7"/>
      <scheme name="gzip" dll="%IIS_BIN%\gzip.dll"   staticCompressionLevel="9"/>
      <staticTypes>
        <add mimeType="text/*"                 enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/json"       enabled="true"/>
        <add mimeType="font/woff2"             enabled="true"/>
        <add mimeType="image/svg+xml"          enabled="true"/>
      </staticTypes>
    </httpCompression>

    <rewrite>
      <rules>
        <rule name="SPA fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
